/* General styling */
QWidget, QMainWindow, QMenuBar, QMenu, QDialog, QTabWidget, QTableView, QTableView::item, QScrollArea, QGroupBox, QPlainTextEdit, QLineEdit
{
    background-color: #fcfcfc;
    color: #303335;
}

QLabel {
    background: transparent;
    color: #303335;
}

/* balance section */
QGroupBox#groupBox {
    background-color: #e6e6e6;
    margin: 25px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

QGroupBox#groupBox QLabel {
    background: transparent;
    color: #000000;
}

/* account balance section */
QGroupBox#groupBox_2 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

/* recent transactions */
QGroupBox#horizontalGroupBox_3 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

/* send to */
QGroupBox#groupBox_3 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

QGroupBox#verticalGroupBox {
    background-color: #e6e6e6;
    border-radius: 4px;
}

QGroupBox#groupBox_3 QScrollArea {
    background-color: #e6e6e6;
}

QGroupBox#groupBox_3 QWidget {
    background-color: #e6e6e6;
}

QGroupBox#groupBox_3 QWidget#sendToWidgets QPushButton{
    background-color: #014d67 ;
    border:1px solid #f2f0f0;
    border-radius:13px;
    color:#f2f0f0;
    font-size:12px;
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:15px;
}

QGroupBox#groupBox_3 QWidget#sendToWidgets QPushButton:hover, .QPushButton:hover {
    background: #e6e6e6;
    color: #303335;
    border: 1px solid #303335;
}

QGroupBox#groupBox_3 QWidget#sendToWidgets QPushButton:focus {
    border:none;
    outline:none;
}

QGroupBox#groupBox_3 QWidget#sendToWidgets QPushButton:pressed {
    border:1px solid #333;
}

/* send from */
QGroupBox#groupBox_4 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

/* Receive with section */
QGroupBox#groupBox_6 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

QGroupBox#groupBox_6 QRadioButton {
    background: transparent;
    color: #000000;
}

/* safecoind */
QGroupBox#groupBox_7 {
    background-color: #e6e6e6;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    border-left: 7px solid #014d67;
}

/* Navigation bar styling */
QTabWidget QTabBar::tab {
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #babec2;
background-color: #014d67;
color: #f2f0f0;
}

QTabWidget QTabBar::tab:selected {
min-height: 10px;
background-color: #01698c;
color:#f2f0f0;
border: 1px ridge #f2f0f0;
}

QTabWidget QTabBar::tab:hover {
background-color: #01698c;
color: #fcfcfc;
border: 1px solid #014d67;
min-height: 20px
}

/* Table Header */
QHeaderView { 
background-color:#e6e6e6;
}

/* Table Header Sections */
QHeaderView::section { 
qproperty-alignment:center;
background-color: #014d67;
color:#f2f0f0;
min-height:25px;
font-weight:bold;
font-size:11px;
outline:0;
border:1px solid #f2f0f0;
border-right:1px solid #fff;
border-left:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

QScrollArea {
background:transparent;
border:0px;
}

/* Scroll Bar */
QScrollBar { 

}

/* Vertical Scroll Bar Attributes */
QScrollBar:vertical { 
border:0;
background:#014d67;
width:18px;
margin: 18px 0px 18px 0px;
}

/* Horizontal Scroll Bar Attributes */
QScrollBar:horizontal { 
border:0;
background:#014d67;
height:18px;
margin: 0px 18px 0px 18px;
}

/* Scroll Bar Slider - vertical */
QScrollBar::handle:vertical { 
background:#014d67;
min-height:10px;
border: 1px solid #303335
}

/* Scroll Bar Slider - horizontal */
QScrollBar::handle:horizontal { 
background:#014d67;
min-width:10px;
border: 1px solid #303335;
}

/* Scroll Bar Background */
QScrollBar::add-page, QScrollBar::sub-page { 
background:#e6e6e6;
border: 1px solid #f2f0f0;
}

/* Define Arrow Button Dimensions */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { 
background-color:#c5cad3;
border: 1px solid #014d67;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#e6e6e6;
}

/* Vertical - top button position */
QScrollBar::sub-line:vertical { 
subcontrol-position:top;
subcontrol-origin: margin;
}

/* Vertical - bottom button position */
QScrollBar::add-line:vertical { 
subcontrol-position:bottom;
subcontrol-origin: margin;
}

/* Vertical - left button position */
QScrollBar::sub-line:horizontal { 
subcontrol-position:left;
subcontrol-origin: margin;
}

/* Vertical - right button position */
QScrollBar::add-line:horizontal { 
subcontrol-position:right;
subcontrol-origin: margin;
}

/* Arrows Icon */
QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { 
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/blue/res/images/blue/blue_upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/blue/res/images/blue/blue_downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/blue/res/images/blue/blue_leftArrow_small.png');
}

QScrollBar:right-arrow {
background-image: url(':/images/blue/res/images/blue/blue_rightArrow_small.png');
}



QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:#e6e6e6;
}

QTableView::item { /* Table Item */
background-color:#fcfcfc;
border:1px solid #babec2;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#e6e6e6;
color:#303335;
}

QPushButton  { /* Global Button Style */
    background-color: #014d67 ;
    border:1px solid #f2f0f0;
    border-radius:13px;
    color:#f2f0f0;
    font-size:12px;
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:15px;
    }
    
QPushButton:hover,
.QPushButton:hover {
    background: #e6e6e6;
    color: #303335;
    border: 1px solid #303335;
}
    
QPushButton:focus {
    border:none;
    outline:none;
}
    
QPushButton:pressed {
    border:1px solid #333;
}

/* Status bar */
QStatusBar {
    background: #babec2;
    border: 0;
    color: #303335;
    height: 36px;
    min-height: 36px;
    padding: 0;
}

/* Menu Bar */
QMenuBar {
    background-color: #e6e6e6;
}
    
QMenuBar::item {
    background-color:#e6e6e6;
    color: #303335;
}
    
QMenuBar::item:selected {
    background-color:#babec2;
    border: 1px solid #303335;
}

/* Drop down menu */
QMenu {
    background-color:#e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
}
    
QMenu::item {
    color:#303335;
}
    
QMenu::item:selected {
    background-color:#babec2;
    color:#303335;
    border: 1px solid #303335;
}
    
/* Basic checkbox */
QCheckBox {
    spacing: 5px;
}
    
QCheckBox::indicator {
    width: 16px;
    height: 16px;
}
    
QCheckBox::indicator:unchecked {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:unchecked:hover {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:unchecked:pressed {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked:hover {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked:pressed {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:indeterminate:hover {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/blue/res/images/blue/checked');
}

